/* Practicing HTML */

body {
	background-color: blue;
	color: white;
}

h1 {
	font-family: Arial;
	text-decoration: underline;
}

img {
	width: 50%;
	height: 60%;
}

a {
	text-decoration: none;
}

ul li{
	list-style-type: none;
}